#
# Display drivers configuration
#

menu "Display device support"

config DISPLAY_SUPPORT
	tristate "Display panel/monitor support"
	---help---
	  This framework adds support for low-level control of a display.
	  This includes support for power.

	  Enable this to be able to choose the drivers for controlling the
	  physical display panel/monitor on some platforms. This not only
	  covers LCD displays for PDAs but also other types of displays
	  such as CRT, TVout etc.

	  To have support for your specific display panel you will have to
	  select the proper drivers which depend on this option.

comment "Display hardware drivers"
	depends on DISPLAY_SUPPORT

config DISPLAY_LGP_LB040Q03
    tristate "Support for the LG-Phillips LB040Q03 LCD panel"
    depends on DISPLAY_SUPPORT
    ---help---
    	This selects the LG-Phillips LB040Q03 LCD panel, which 
	is a QVGA (320x240) panel.

config DISPLAY_BCMRING_GENERIC
	tristate "Support for all BCMRING generic LCD panel"
	depends on DISPLAY_SUPPORT
	---help---
	  This supports all BCMRING generic LCD panel.

endmenu
